@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css 420');

/*-------------------- variables --------------------*/
:root {
  --dark-green: #002f33;
  --white: #ffffff;
  --light-blue: #f8fbfc;
  --rose: #ffddd2;
  --light-green: #00545b;
  --lighter-green: #006e78;
}

/*-------------------- reset default styles --------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------- rem hack --------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--dark-green);
}

/*-------------------- gral styles --------------------*/
main {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--dark-green);
}

@media only screen and (min-width: 430px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }
}

/*-------------------- common styles --------------------*/

.container {
  background-color: var(--light-green);
  padding-top: 6.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fa-chevron-down,
.fa-chevron-up {
  animation: scroll 1.5s linear infinite;
}

.lines::after,
.lines::before {
  content: ' ';
  position: absolute;
  width: 29px;
  height: 0.5px;
  background-color: currentColor;
  top: 12px;
}

.lines::before {
  left: -39px;
}

.lines::after {
  right: -39px;
}

/*-------------------- header --------------------*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #f6f6f6;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 100;
}

.karen {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}

.nav__desktop {
  display: none;
}

@media only screen and (min-width: 430px) {
  header {
    padding: 1.8rem 15rem;
  }

  .nav__desktop {
    display: flex;
    gap: 2.4rem;
  }

  .nav__mobile {
    display: none;
  }

  .karen {
    font-size: 2rem;
  }
}

/*-------------------- hero section --------------------*/
.hero__section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -5.5rem;
}

.picture {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
}

.picture__img {
  width: 70%;
  padding-top: 7rem;
}

.hero__2ndpart {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.hero__description {
  padding-top: 3.4rem;
}

@media only screen and (min-width: 430px) {
  .hero__section {
    display: flex;
    flex-direction: row;
    padding: 0 8rem;
    background-color: var(--light-blue);
  }

  .picture {
    background-color: transparent;
  }

  .picture__img {
    width: fit-content;
  }

  .hero__2ndpart {
    height: 100%;
    justify-content: flex-end;
    padding: 6rem 4rem;
    width: 50%;
    gap: 17rem;
  }

  .hero__text {
    padding: 0 1rem;
  }
}

/*-------------------- skills --------------------*/
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3rem;
}

.skills__subtitles {
  color: var(--white);
  font-weight: lighter;
  display: inline-block;
  position: relative;
}

#main__skills {
  color: var(--light-blue);
}
.skills__h2 {
  font-weight: lighter;
}

.skills__part {
  padding-bottom: 4rem;
}

.skills__box {
  width: 60%;
}

.icon {
  width: 70%;
}
.icon_ux {
  width: 58%;
}
.icon__ui {
  width: 50%;
}

.software__link {
  color: var(--white);
}

@media only screen and (min-width: 430px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: baseline;
    padding: 0 20rem;
  }

  .skills__box {
    width: 60%;
  }
}

/*-------------------- software --------------------*/
.software__section {
  background-color: var(--rose);
}

.software__icons {
  padding: 5rem 3rem;
  margin-bottom: 30rem;
}

.software__part {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icons__software {
  width: 15%;
}

@media only screen and (min-width: 430px) {
  .icons__software {
    width: 5%;
  }
}

/*-------------------- contact section --------------------*/
.contact__section {
  background-color: var(--light-blue);
}

.icons__ytext {
  margin-top: -6rem;
}

.icons {
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  background-color: var(--light-green);
  transition: all 0.2s;
}

.contact_link {
  padding: 25px;
  border-radius: 50%;
}

.fa-envelope,
.fa-linkedin-in,
.fa-whatsapp {
  color: var(--white);
  font-size: 1.8rem;
}

.fa-whatsapp {
  font-size: 2rem;
}

.icon__container:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--lighter-green);
}

.go__top {
  margin-top: -10rem;
}

/*-------------------- footer --------------------*/
footer {
  background-color: var(--light-green);
  padding: 4.2rem 0rem;
  text-align: center;
  color: var(--white);
  margin-top: -10.56rem;
}

/*-------------------- animations --------------------*/

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
